
::-webkit-scrollbar {
    display: none;
}

#quote-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 40px 20px;
    width: 100%;
    text-align: center;
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll ;
    width: 100%;
    position: relative;
}
#quote-box .grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 20px;
    height: 100%;
    width: 100%;
}

button{
    background-color: #310c56;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.2rem;
}

button:hover{
    background-color: #d9cce8;
    color: #310c56;
}