
::-webkit-scrollbar {
    display: none;
}

#quote-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 40px 20px;
    width: 100%;
    text-align: center;
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll ;
    width: 100%;
}