<main class="dialog-container">
    <div class="dialog">
        <h2>Add Quote</h2>
        <form>
          <p>
            <label for="author">Author</label>
            <input type="text" id="author" name="author" />
          </p>
      
          <p>
            <label for="quote">Quote</label>
            <textarea id="quote" rows="5" name="quote" ></textarea>
          </p>
      
          <p class="actions">
            <button type="button">Cancel</button>
            <button type="submit">Create</button>
          </p>
        </form>
      </div>
</main>