<main class="dialog-container">
    <div class="backdrop" (click)="onClose()"></div>
    <div class="dialog">
        <h2>Add Quote</h2>
        <form (ngSubmit)="onSubmit()">
          <p>
            <label for="author">Author</label>
            <input type="text" id="author" name="author" [(ngModel)]="enteredAuthor" />
          </p>
      
          <p>
            <label for="quote">Quote</label>
            <textarea id="quote" rows="5" name="quote" [(ngModel)]="enteredQuote" ></textarea>
          </p>
      
          <p class="actions">
            <button type="button" (click)="onClose()">Cancel</button>
            <button type="submit">Create</button>
          </p>
        </form>
      </div>
</main>